@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.bg_primario {
  background: #fd571b;
}

.bg_light {
  background: #f7f7f7;
}

.sinPadding {
  padding: 0;
}

header .topbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fd571b;
}

header .topbar p {
  color: white;
  padding: .5rem;
  font-size: 1.6rem;
}

header .middle__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  header .middle__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .middle__logo img {
  padding: 2rem 0;
}

header .middle__searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

header .middle__searchbar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

@media screen and (max-width: 576px) {
  header .middle__searchbar__contact {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

header .middle__searchbar__contact a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  font-size: 1.4rem;
}

header .middle__searchbar__contact a svg {
  fill: #fd571b;
}

@media screen and (max-width: 576px) {
  header .middle__searchbar__contact a svg {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 576px) {
  header .middle__searchbar__contact a span {
    display: none;
  }
}

header .middle__searchbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid #e2e2e2;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  header .middle__searchbar__search {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

header .middle__searchbar__search .searchbar__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3rem;
  padding: 2rem;
  border: 0;
  font-size: 1.4rem;
}

header .middle__searchbar__search .searchbar__input::-webkit-input-placeholder {
  font-size: 1.4rem;
}

header .middle__searchbar__search .searchbar__input:-ms-input-placeholder {
  font-size: 1.4rem;
}

header .middle__searchbar__search .searchbar__input::-ms-input-placeholder {
  font-size: 1.4rem;
}

header .middle__searchbar__search .searchbar__input::placeholder {
  font-size: 1.4rem;
}

header .middle__searchbar__search .searchbar__input:focus-visible::-webkit-input-placeholder {
  color: #b3b3b3;
}

header .middle__searchbar__search .searchbar__input:focus-visible:-ms-input-placeholder {
  color: #b3b3b3;
}

header .middle__searchbar__search .searchbar__input:focus-visible::-ms-input-placeholder {
  color: #b3b3b3;
}

header .middle__searchbar__search .searchbar__input:focus-visible::placeholder {
  color: #b3b3b3;
}

header .middle__searchbar__search .searchbar__input:focus-visible {
  outline: 0;
  color: black;
}

header .middle__searchbar__search .searchbar__button {
  background: none;
  border: 0;
  border-left: 1px solid #e2e2e2;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: gray;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
  height: 100%;
}

header .middle__searchbar__search .searchbar__button:hover {
  color: white;
  background: #fd571b;
}

.hero__categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__categorias .listadoCategoriasPadre {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .hero__categorias .listadoCategoriasPadre {
    position: relative;
  }
}

.hero__categorias__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  overflow-y: auto;
  max-height: 80vh;
  background: white;
  border: .5rem solid white;
  position: absolute;
  top: 2rem;
  left: 0;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
  .hero__categorias__menu {
    position: relative;
    max-height: none;
    margin-bottom: 2rem;
    overflow-y: hidden;
  }
}

.hero__categorias__menu .titulo {
  font-size: 2rem;
  font-weight: 600;
  background: #fd571b;
  color: white;
  padding: 1rem 2rem;
}

@media screen and (max-width: 576px) {
  .hero__categorias__menu .titulo {
    cursor: pointer;
  }
}

.hero__categorias__menu .cat {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 576px) {
  .hero__categorias__menu .cat {
    max-height: 0;
  }
}

.hero__categorias__menu .cat a {
  font-size: 1.5rem;
  padding: 1.4rem 2rem;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  display: block;
  color: inherit;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.hero__categorias__menu .cat a.active {
  color: #fd571b;
  font-weight: 600;
}

.hero__categorias__menu .cat:last-child a {
  margin-bottom: 1rem;
  border-bottom: 0;
}

.hero__slider {
  padding: 2rem 3rem;
}

@media screen and (max-width: 576px) {
  .hero__slider {
    padding: 2rem 0;
  }
}

.hero__slider .slider {
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.hero__slider .slider img {
  width: 100%;
}

.hero__slider .carousel-control-next, .hero__slider .carousel-control-prev {
  width: 10%;
}

.hero__slider .carousel-control-next-icon, .hero__slider .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
  min-height: 70vh;
}

@media screen and (max-width: 576px) {
  .productos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.productos .nombreCategoria {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / span 1 / span 4;
  font-size: 2.8rem;
}

@media screen and (max-width: 576px) {
  .productos .nombreCategoria {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 1 / span 1;
  }
}

.productos .noHayCoincidencias h4 {
  font-size: 2.8rem;
}

.productos .verTodos {
  font-size: 2rem;
  color: #fd571b;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.productos .verTodos:hover {
  color: black;
}

.productos .producto {
  border-radius: 2rem;
  overflow: hidden;
  border: 0.4rem solid #fd571b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: .4rem;
  padding-bottom: 1.4rem;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
}

.productos .producto__img {
  width: 100%;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: white;
}

.productos .producto__img img {
  max-width: 100%;
  max-height: 100%;
}

.productos .producto__titulo {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: -1px;
}

@media screen and (max-width: 576px) {
  .productos .producto__titulo {
    padding: 0 3rem;
    font-size: 2rem;
  }
}

.productos .producto__precio {
  color: #fd571b;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .productos .producto__precio {
    font-size: 3rem;
  }
}

.productos .producto .agregar, .productos .producto .producto__sinStock {
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #797979;
  margin-bottom: .6rem;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #222;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .productos .producto .agregar, .productos .producto .producto__sinStock {
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.productos .producto .agregar:hover, .productos .producto .producto__sinStock:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

.productos .producto__ver {
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #fd571b;
  margin-bottom: .6rem;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: #fd571b;
  color: white;
}

@media screen and (max-width: 576px) {
  .productos .producto__ver {
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.productos .producto__ver:hover {
  color: #212529;
  border-color: #797979;
  background: white;
}

.productos .producto__sinStock {
  background: #c4c4c4;
  color: #686868;
  display: none;
  cursor: not-allowed;
}

.productos .producto__sinStock:hover {
  background: #c4c4c4;
  color: #686868;
  border-color: #797979;
}

.productos .producto__whatsapp {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
  background: #25d366;
  color: white;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 1rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
}

@media screen and (max-width: 576px) {
  .productos .producto__whatsapp {
    padding: 2rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.productos .producto__whatsapp .fa-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.productos .producto__whatsapp > p {
  text-align: left;
  line-height: 1;
}

.productos .producto__whatsapp:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

.productos .producto .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.8rem;
  font-size: 1.8rem;
}

.productos .producto .counter__button {
  border: 0;
  background: transparent;
  font-size: 2.4rem;
}

.productos .noHayCoincidencias {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / span 1 / span 4;
}

#noQuedaStock .modal-content {
  background: #ff4b5c;
  color: #900;
}

#noQuedaStock .modal-content .modal-header {
  border-bottom-color: #900;
}

#noQuedaStock .modal-content .modal-header h5 {
  font-size: 1.8rem;
}

.toastifyToast {
  background: #fd571b;
  font-size: 1.4rem;
}

@media screen and (max-width: 576px) {
  .toastifyToast {
    max-width: none;
  }
}

.single {
  padding: 3rem;
}

.single__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  aspect-ratio: 1;
  background: white;
  border: 4px solid #fd571b;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
}

.single__imagen img {
  max-width: 100%;
  max-height: 100%;
}

.single__titulo {
  font-size: 2.6rem;
}

.single__precio {
  font-size: 4rem;
  font-weight: 600;
  color: #fd571b;
}

.single .agregar, .single .productos .producto__sinStock, .productos .single .producto__sinStock {
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #797979;
  margin-bottom: .6rem;
  border-radius: .4rem;
  letter-spacing: -1px;
  padding: .5rem 2rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: inline-block;
  color: #222;
  text-transform: uppercase;
}

.single .agregar.sinStock, .single .productos .sinStock.producto__sinStock, .productos .single .sinStock.producto__sinStock {
  background: black;
  background: #c4c4c4;
  color: #444;
}

.single .agregar.sinStock:hover, .single .productos .sinStock.producto__sinStock:hover, .productos .single .sinStock.producto__sinStock:hover {
  background: black;
  background: #c4c4c4;
  color: #444;
  border-color: #797979;
  cursor: default;
}

@media screen and (max-width: 576px) {
  .single .agregar, .single .productos .producto__sinStock, .productos .single .producto__sinStock {
    padding: 1rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.single .agregar:hover, .single .productos .producto__sinStock:hover, .productos .single .producto__sinStock:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

.single .counter-container {
  display: inline-block;
}

.single .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.8rem;
  font-size: 1.8rem;
}

.single .counter__button {
  border: 0;
  background: transparent;
  font-size: 2.4rem;
}

.carritoContainer {
  padding-top: 3rem;
}

.carritoContainer .carritoTitulo {
  font-size: 3rem;
  font-weight: 600;
}

.carritoProductos {
  padding-top: 3rem;
}

.carritoProductos table {
  font-size: 1.5rem;
  border-radius: 30px;
  overflow: hidden;
}

.carritoProductos table thead th {
  text-align: center;
  border-bottom: 0 !important;
}

.carritoProductos table thead th:nth-child(2) {
  text-align: left;
}

.carritoProductos table tbody {
  border-top-color: #fd571b !important;
}

.carritoProductos .carritoProducto__img {
  height: 120px;
  width: 120px;
  text-align: center;
}

.carritoProductos .carritoProducto__img img {
  max-width: 100%;
  max-height: 100%;
}

.carritoProductos .carritoProducto__titulo {
  font-size: 1.8rem;
  vertical-align: middle;
  padding: 0 1rem;
}

.carritoProductos .carritoProducto__titulo a {
  color: black;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.carritoProductos .carritoProducto__titulo a:hover {
  color: #fd571b;
}

.carritoProductos .carritoProducto__precio {
  font-size: 1.8rem;
  vertical-align: middle;
  text-align: center;
  padding: 0 1rem;
}

.carritoProductos .carritoProducto__cantidad {
  font-size: 1.8rem;
  vertical-align: middle;
  text-align: center;
  padding: 0 1rem;
}

.carritoProductos .carritoProducto__subtotal {
  font-size: 1.8rem;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  padding: 0 1rem;
}

.carritoProductos .carritoProducto__eliminar {
  font-size: 1.4rem;
  vertical-align: middle;
  text-align: center;
  padding: 0 1rem;
}

.carritoProductos .carritoProducto__eliminar svg {
  fill: red;
  cursor: pointer;
}

.carritoTitulos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .25fr 1fr .5fr .25fr .5fr .1fr;
      grid-template-columns: .25fr 1fr .5fr .25fr .5fr .1fr;
}

.carritoTitulos__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  padding: 1rem;
}

.carritoTitulos__tit:nth-child(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.emptyCart {
  width: 100%;
  min-height: 200px;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emptyCart h4 {
  font-size: 2rem;
}

.emptyCart a {
  font-size: 1.8rem;
  color: #fd571b;
}

.emptyCart a:hover {
  text-decoration: underline;
}

.emptyCart svg {
  height: 30px;
  width: 30px;
  margin-bottom: 1rem;
}

.cartSidebar h4 {
  font-size: 2.4rem;
}

.cartSidebar__top {
  background: #fd571b;
  padding: 2.4rem 3rem;
  color: white;
  border-radius: 30px 30px 0 0;
}

.cartSidebar__bottom {
  background: #c63d0b;
  padding: 2.4rem 3rem;
  color: white;
  border-radius: 0 0 30px 30px;
}

.cartSidebar__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1.6rem;
}

.cartSidebar__table .left {
  font-weight: 600;
}

.cartSidebar__table .right {
  text-align: right;
  font-weight: 300;
}

.cartSidebar__table .total {
  font-size: 2.4rem;
  font-weight: 600;
}

.cartSidebar__buyAll {
  width: 100%;
  border: 0;
  background: #fd571b;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2.2rem;
  border-radius: 30px;
  font-weight: 600;
}

#botonCarrito {
  position: fixed;
  z-index: 99;
  bottom: 3rem;
  right: 3rem;
  font-size: 4.6rem;
  background: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

#botonCarrito.cerrado {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s .3s, opacity .3s linear;
  transition: visibility 0s .3s, opacity .3s linear;
}

#botonCarrito .numerito {
  position: absolute;
  top: -1rem;
  left: -1rem;
  background: #fd571b;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#botonCarrito .numerito #numerito.shake {
  -webkit-animation: shake 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#botonCarrito .numerito p {
  font-size: 1.4rem;
  color: white;
  margin: 0;
  line-height: 1;
}

#botonCarrito svg {
  fill: #fd571b;
  max-width: 30px;
  max-height: 30px;
}
/*# sourceMappingURL=style.css.map */