#root {
    background:black;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root .counter {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;
    color: white;
}

#root .counter p {
    font-size: 26px;
    text-align: center;
}

#root .counter button {
    padding: 2px 8px;
    font-size: 18px;
}

#root .counter button:last-child {
    grid-column: 1 / 4;
}